* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #424242;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  background-color: burlywood;
  width: 40%;
  height: 90%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
div {
  margin: 10px;
}

textarea,
input {
  border: none;
}

.inputError {
  border: 1px solid red;
}

.erro {
  color: red;
  font-size: 10px;
}
