/* input {
    display: block;
  } */
  
 body{

    background-color: #424242;
 }
  #container {
      background-color: #cecece;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      left: 25%;
      text-align: center;
      align-items: center;
      justify-content: center;
      
      width: 50%;
      /* height: auto; */
      margin: 0 auto;
  }

  textarea {
      border-radius: 3px;
      border-color: rgb(24, 151, 24);
  }

  .but{
    /* border-radius: 3px;
    border-color: rgb(24, 151, 24); 
    border-style: solid inset;      */
    
  }

  h1{
    align-items: center;
  }

