*{
    margin: 0;
    padding: 0;
}

.container-bahia{
    text-align: center;
    width: 100%;
    height: 700px;
    background-image: url(IMG/bahia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Bahia{
    text-align: center;
}

.parallax{
    background-attachment: fixed;


}

