body{
    background-color:violet;
}

.imag {
    width: auto;
    height: 500px;
    color: blue;
    background-color: burlywood;
    margin: -8px;
}

.fogo{
    background-image: url(IMAGEM/fogo.png);
    background-repeat: no-repeat;
    background-size: cover;  /* Imagem toma toda a div */
    /* margin-bottom: -20px; */
}

.divfogo{
    width: 50%;
    /* height: 30px; */
    margin: 0 auto;
    text-align: center;
    background-color: white;
    
   
}

section{
    background-color: violet;
    display: block;
}

.sectionfogo{
    text-align: center;
    padding: 50px 80px;
}



/* section {
    margin: -8px;
    display: block;
    background-color: violet;
    color: white;
}

sectionfogo{
    text-align: center;
    padding: 50px 80px;
    
}

p{
    margin-bottom: 0px;
} */